
#main {
    padding-left: 15%;
   }
 
 #class_list {
     padding-right: 15%;
 }
 
 table {
     margin-bottom: 1rem;
     width: 100%;
 }
 
 table th,
 table td {
     padding: 0.50rem;
     vertical-align: middle;
 }
 
 tbody tr:nth-of-type(odd) {
     background-color: rgb(179, 208, 255, 0.3)
 }
 
 
 /* Sidebar start */
 sidebar {
     position: fixed;
     background-color: bisque;
     width: 15%;
     height: 100%;
   }
 
 h3 {
     padding-top: 2%;
     font-size: 2em;
     margin-top: 2%;
   }
 
 h1 {
     text-align: center;
     font-family: 'Bangers', cursive;
     font-size: 2em;
     padding: 2%;
     padding-bottom: 4%;
     border: 5px solid black ;
   }
 
 nav {
     border: 5px solid rgb(109, 96, 85);
     height: 80%;
     text-align: center;
     padding: 3%;
   }
 
 li {
     font-size: 20px;
     border: 5px solid rgb(58, 55, 53);
     background-color: rgb(58, 55, 53) ;
     padding: 10px;
   }
 
 li a {
     color: antiquewhite;
   }
 
 #recommendation {
     display: none;
     position: relative;
     margin-top: 400px;
     padding: 30px;
     border: 5px solid rgb(236, 130, 30);
     border-radius: 50px;
     background-color: rgb(236, 130, 30);
   }
 
 #recommendation:hover {
     background-color:rgb(36, 31, 25);
     transition: .5s;
   }
   /* sidebar finish */